{% extends "cook_book_app/base.html" %}

{% block content %}

  <p>Potrawy</p>
  
  <ul>     
    {% for dish in all_dish %}       
      <li>        
        <a href="{% url 'cook_book_app:dish' dish.id %}">{{ dish }}</a>      
      </li>   
    {% empty %}       
      <li>Nie została jeszcze dodana żadna potrawa.</li>    
    {% endfor %}  
  </ul> 
  
   <a href="{% url 'cook_book_app:new_dish' %}">Dodaj nową potrawę</a>
  
{% endblock content %}
