<p>  
  <a href="{% url 'cook_book_app:index' %}">Cookbook</a> -   
  <a href="{% url 'cook_book_app:all_dish' %}">Potrawy</a>
    {% if user.is_authenticated %}     
      Witaj, {{ user.username }}.   
      <a href="{% url 'users:logout' %}">Wyloguj</a>
    {% else %}  
      <a href="{% url 'users:register' %}">Rejestruj</a> -  
      <a href="{% url 'users:login' %}">Zaloguj</a>   
    {% endif %}
</p>

{% block content %}{% endblock content %}
