{% extends 'cook_book_app/base.html' %}

{% block content %}

  <p>Potrawa: {{ dish }}</p> 
  
  <p>Przepisy:</p>  
  <p>
    <a href="{% url 'cook_book_app:new_recipe' dish.id %}">Dodaj nowy przepis</a>
  </p>
  <ul>   
  {% for recipe in recipes %}     
    <li>      
      <p>{{ recipe.date_added|date:'d M Y H:i' }}</p>       
      <p>{{ recipe.text|linebreaks }}</p> 
      <p>        
        <a href="{% url 'cook_book_app:edit_recipe' recipe.id %}">
            Edytuj przepis
        </a>      
      </p>
    </li>  
  {% empty %}     
    <li>      
      Nie ma jeszcze żadnego przepisu.    
    </li>
  {% endfor %}  
  </ul>
  
{% endblock content %}
