{% extends "cook_book_app/base.html" %}

{% block content %}

  <p>
    <a href="{% url 'cook_book_app:dish' dish.id %}">{{ dish }}</a>
  </p>
  
  <p>Edycja przepisu:</p>
  
  <form action="{% url 'cook_book_app:edit_recipe' recipe.id %}" 
    method='post'>     
    {% csrf_token %}    
    {{ form.as_p }}    
    <button name="submit">Zapisz zmiany</button>   
  </form>
  
{% endblock content %}
