{% extends "cook_book_app/base.html" %}

{% block content %}

  <p>Dodaj nową potrawę:</p>  
  <form action="{% url 'cook_book_app:new_dish' %}" method='post'>     
    {% csrf_token %}     
    {{ form.as_p }}     
    <button name="submit">Dodaj potrawę</button>   
  </form>
  
{% endblock content %}
