{% extends 'cook_book_app/base.html' %}

{% block content %}

  <p><a href="{% url 'cook_book_app:dish' dish.id %}">{{ dish }}</a>
  </p>
  
  <p>Dodaj nowy przepis:</p>
  
  <form action="{% url 'cook_book_app:new_recipe' dish.id %}"
  method='post'>
    {% csrf_token %}
    {{ form.as_p}}
    <button name='submit'>Dodaj przepis</button>
  </form>

{% endblock content %}
