{% extends "cook_book_app/base.html" %}

{% block content %}

  {% if form.errors %}   
  <p>Nazwa użytkownika i hasło są nieprawidłowe. Proszę spróbować 
  ponownie.</p>  
  {% endif %}
  
  <form method="post" action="{% url 'users:login' %}">   
    {% csrf_token %}  
    {{ form.as_p }} 
    
  <button name="submit">Zaloguj</button>   
  <input type="hidden" name="next" 
  value="{% url 'cook_book_app:index' %}" />   
  </form>
  
{% endblock content %}
