{% extends "cook_book_app/base.html" %}

{% block content %}

  <form method="post" action="{% url 'users:register' %}">    
    {% csrf_token %}    
    {{ form.as_p }}
    <button name="submit">Rejestruj</button>    
    <input type="hidden" name="next" 
    value="{% url 'cook_book_app:index' %}" />  
  </form>
  
{% endblock content %}
